<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="c#,mvc,sql,mssql,asp.net,asp.net mvc,web geliştirme">

<meta name="author" content="emretoksöz">

<title>EmreToksöz.com</title>

<!-- bootstrap.min css -->
<link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">
<!-- Icon Font Css -->
<link rel="stylesheet" href="~/Content/plugins/themify/css/themify-icons.css">
<link rel="stylesheet" href="~/Content/plugins/fontawesome/css/all.css">
<link rel="stylesheet" href="~/Content/plugins/magnific-popup/dist/magnific-popup.css">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="~/Content/plugins/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="~/Content/plugins/slick-carousel/slick/slick-theme.css">
<link href="~/Content/css/Weather.css" rel="stylesheet" />
<!-- Main Stylesheet -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/css/style.css" rel="stylesheet" />
<script src="jquery-3.5.1.min.js"></script>
<script src="~/Content/plugins/jquery/jquery-3.6.0.min.js"></script>
