<section class="page-title bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    @*<span class="text-white">@ViewBag.Title</span>*@
                    <h1 class="text-capitalize mb-4 text-lg"></h1>
                    <ul class="list-inline">
                        <li class="list-inline-item h2"><a href="@Url.Action("Index","Home")"  class="text-white">Ana Sayfa</a></li>
                        <li class="list-inline-item"><span class="text-white">/</span></li>
                        <li class="list-inline-item h2 "><a href="#" class="text-white-50 " >@ViewBag.Title</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
