
@{
    ViewBag.Title = "Nft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">
<img src="" />
            <div class="col-lg-10">
                <div class="row" id="Blog_list">
                    <iframe src='https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113712136919041999667751947480316445961471108270549978226430471843218204917761'
                            width='100%'
                            height='4000px'
                            frameborder='0'
                            allowfullscreen></iframe>-->
@*Bloglarımı basıyorum*@
<!--</div>
            </div>
            </div>
    </div>
</section>-->
<section class="section blog-wrap bg-gray" style="background-color:black">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <center>
                    <div class="row" id="Blog_list" >

                        <div class="card ml-3 " style="width: 18rem; ">
                            <img src="~/Content/images/unnamed.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size:large; color:black">Goodby World</h5>
                                <p class="card-text" style="font-size:medium; color:black">Günün sonunda herkes bu dünyadan ayrılıyor. Son bir veda!</p>
                                <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113712136919041999667751947480316445961471108270549978226430471844317716545537/" class="btn btn-outline-dark">NFT'ye Git</a>
                            </div>
                        </div>

       
                            <div class="card ml-3" style="width: 18rem;">
                                <img src="~/Content/images/unnamed (1).png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size:large; color:black">CryptoPunk</h5>
                                    <p class="card-text" style="font-size:medium; color:black">İlk CryptoPunk Denemesi <br /><span style="color:red">Satışta!</span>  </p>
                                    <a href="https://opensea.io/assets/matic/0x2953399124f0cbb46d2cbacd8a89cf0599974963/113712136919041999667751947480316445961471108270549978226430471843218204917761/" class="btn btn-outline-dark">NFT'ye Git</a>
                                </div>
                            </div>
                        
                    </div>
                </center>
            </div>
        </div>
    </div>
</section>




